div:nth-child(1) {
  background-color: rgb(216, 119, 119, 0.473);
}
div:nth-child(2) {
  background-color: rgb(214, 216, 119, 0.473);
}
div:nth-child(3) {
  background-color: rgba(145, 231, 177, 0.473);
}
div:nth-child(4) {
  background-color: rgb(38, 216, 119, 0.473);
}
div:nth-child(5) {
  background-color: rgb(37, 25, 104, 0.473);
}
div:nth-child(6) {
  background-color: rgba(72, 30, 85, 0.473);
}
div:nth-child(7) {
  background-color: rgb(88, 57, 95, 0.473);
}
div:nth-child(8) {
  background-color: rgb(53, 4, 4, 0.473);
}
div:nth-child(9) {
  background-color: rgb(199, 5, 5, 0.473);
}
